{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "react",
    "@typescript-eslint",
    "react-hooks",
    "react-native"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["./node_modules", "./", "./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "ignorePatterns": ["**/*.js", "serviceWorker.ts"],
  "rules": {
    "semi": [2, "never"],
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "arrow-parens": [0, "as-needed"],
    "max-len": ["warn", { "code": 130, "comments": 130, "ignoreUrls": true, "ignorePattern": "d=\"([\\s\\S]*?)\"" }],
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/style-prop-object": [0, {
      "allow": [""]
    }],
    "react-native/no-unused-styles": 2,
    "no-nested-ternary": 0,
    "no-confusing-arrow": 0,
    "prefer-rest-params": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "quote-props": 0,
    "camelcase": 0,
    "quotes": 0,
    "object-curly-newline": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "function-paren-newline": 0,
    "no-lonely-if": 0,
    "import/no-extraneous-dependencies": [2, { "packageDir": "./" }],
    "react/sort-comp": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0, // waiting for this to be resolved: https://github.com/yannickcr/eslint-plugin-react/issues/2654
    "@typescript-eslint/interface-name-prefix": 0,
    "react/jsx-one-expression-per-line": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "react/no-unused-prop-types": 0,
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "no-debugger": 1
  }
}
